<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>micropesce</title>
	<style>
		.tabs > li {
			display: inline-block;
			float: left;
			padding: 5px;
			border: 1px #999 solid;
			border-radius: 2px 2px 0 0;
			margin-bottom: -3px;
			background: white;
		}
		main {
			clear: both;
			border: 1px #999 solid;
			padding: 4rem;
		}
		article {
			border: 1px #999 solid;
			padding: 2rem;
		}
	</style>
</head>
<body>
	<header>
		<nav>
			<ul class="tabs">
				<li><b>inbox</b></li>
				<li><a>laterbox</a></li>
				<li><a>keepbox</a></li>
				<li><a>history</a></li>
				<li><a>account</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<article>
			<h1>today, i've hit two people</h1>
			<p>i sure was angry</p>
		</article>
		<article>
			<h1>today, i pët a cat</h1>
			<p>i sure was happy</p>
		</article>
	</main>
</body>
</html>